<%- include('../partials/header') %>

  <h1><%= title %></h1>
   <ul>
     <% skills.forEach(function(s) { %>
       <li>
         <a href="/skills/<%= s.id %>"><%= s.skill %></a>
           - 
         <%= s.proficiency %>
       </li>
     <% }); %>
   </ul>

<%- include('../partials/footer') %>